.card {
	width: 24%;
	height: 350px;
	text-align: center;
	float: left;
	border: 1px solid black;
	border-radius: 20px;
	padding: 5px;
	margin: 5px;
	background: Azure;
}
.card_name {
	margin-top: 5px;
	height: 60px;
}
.card_img {
	margin-bottom: 5px;
}
.card_price {
	height: 25px;
}
.card_detail {
	height: 25px;
}
.btn-add-to-cart:hover {
	transform: scale(0.95);
}