
a {
	text-decoration: none;

}
a:link {
	color: blue;
}
a:visited {
	color: blue;
}
a:hover {
	color: red;			
	text-decoration: underline;
}
a:active {
	color: yellow;
}
ul {
	list-style-type: none;
	padding: 0;
}
ul li ul li {
	background: ghostwhite;
	border-color: black;
	text-align: center;
	
}
ul li ul {
	display: none;
	width: 700px;
	text-align: center;

}
ul > li:hover ul {
	margin-top: 0;
/*	display: block;
*/	position: absolute;
	top: 51px;
	left: -153px;
	text-align: center;

}
ul li {	
	float: left;
	position:  relative;
	background: lightgray;
	border: 1px solid black;
	text-align: center;

}
#div_tong {
	background: aliceblue;
	min-height: 800px;
	max-height: 6000px;
	position: relative;
	margin: auto;
	padding: auto;
	min-width: 800px;
}
#div_tren {
	text-align: center;
	height: 150px;
}
#div_giua {
	max-height: 4900px;
	padding-bottom: 50px;
	min-height: 550px;
}
#div_duoi {
	height: 100px;
	background: Moccasin;
	text-align: center;
	bottom: 0px;
	position: relative;
}

.right {
	text-align: right;
}	
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.border {
	border: 1px solid black;
}
.no_border {
	border: none;
}
table {
	margin: auto	;
}
.error {
	color: red;
	text-align: left;
}

.success {
	color: green;
}
#menu-
