a {
	text-decoration: none;
}
a:link {
	color: blue;
}
a:visited {
	color: blue;
}
a:hover {
	color: red;			
	text-decoration: underline;
}
a:active {
	color: yellow;
}
ul {
	list-style-type: none;
	padding: 0;
}
ul li ul li {
	background: ghostwhite;
	border-color: black;
	text-align: center;
}
ul li ul {
	display: none;
	width: 700px;
	text-align: center;
}
ul > li:hover ul {
	margin-top: 0;
/*	display: block;
*/	position: absolute;
	top: 51px;
	left: -153px;
	text-align: center;
}
ul li {	
	float: left;
	position:  relative;
	background: lightgray;
	border: 1px solid black;
	text-align: center;
}
#div_tong {
	padding-bottom: 15px;
	background: Cornsilk;
	min-height: 100vh;
	max-height: 6000px;
	position: relative;
	margin: auto;
	padding: auto;
	min-width: 800px;
}
#div_tren {
	text-align: center;
	min-height: 10vh;
	max-height: 250px;
}
#div_giua {
	max-height: 4900px;
	min-height: 80vh;
}
#div_duoi {
	height: 90px;
	background: sandybrown;
	text-align: center;
	margin: auto;
}
.right {
	text-align: right;
}	
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.border {
	border: 1px solid black;
}
.no_border {
	border: none;
}
table {
	margin: auto	;
}
.error {
	color: red;
	text-align: left;
}
.success {
	color: green;
}
button:hover {
	transform: scale(0.95);
	border-radius: 10px;
}